<div class="row">
    <div class="col-md-8">
        <h2>Daftar Contact</h2>
      <% if (msg.length !== 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %> 

        <a href="/contact/add" class="btn btn-primary">Add Contact</a>
        <% if (contacts.length === 0) { %>
        <p>Data Contact Tidak Ada</p>
        <% } else { %>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% contacts.forEach((contact, i) => { i++ %>
                <tr>
                  <th scope="row"><%= i++ %></th>
                  <td><%= contact.name  %></td>
                  <td><%= contact.noHP  %></td>
                  <td>
                    <a href="/contact/<%= contact._id %>" class="btn btn-success badge"><i class="bi bi-info-circle"></i> Detail</a>
                    <form method="POST" action="/contact?_method=DELETE" class="d-inline">
                      <input type="hidden" name="id" value="<%= contact._id %>">
                      <button type="submit" class="btn btn-danger badge"  onclick="return confirm('Are you sure you want to delete this item?')"><i class="bi bi-trash"> </i>Delete</button>
                    </form>
                    <!-- <a href="/contact/delete/<%= contact._id %>" class="btn btn-danger badge" onclick="return confirm('Are you sure you want to delete this item?')"><i class="bi bi-trash"></i> Delete</a> -->
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% } %> 
    </div>
</div>