<div class="row">
    <div class="col-md-6">
        <h2>Form Edit Contact Data</h2>

        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(err => { %>
                        <li><%= err.msg %> </li>
                    <% }) %>
                </ul>
              </div>
        <% } %>

        <form method="POST" action="/contact?_method=PUT">
            <input type="hidden" name="id" value="<%= contact._id %>">
            <input type="hidden" name="oldHP" value="<%= contact.oldHP || contact.noHP %>">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="name" class="form-control" id="name" name="name" value="<%= contact.name %>" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" value="<%= contact.email %>" id="email">
              <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="noHP" class="form-label">Phone Number</label>
                <input type="noHP" class="form-control" name="noHP" id="noHP" value="<%= contact.noHP %>" name="noHP" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>
</div>